<h1> Recipes </h1>
<ul>
<% @recipes.each do |r| %>
    <li><%= link_to r.name, recipe_path(r) %>     Ingredients: <%=r.ingredients.count %></li>
<% end %>
</ul>

<%= link_to "New Recipe", new_recipe_path %>
