<h2><%= @ingredient.name %></h2>

<p>There are <%= @ingredient.users.count %> user(s) allergic to me. </p>

<h5> recipe list </h5>
<p> I am used in the following recipes </p>
<ol>
<% @ingredient.recipes.each do |r| %>
    <li><%= link_to r.name, recipe_path(r) %></li>
<% end %>
</ol>

<%= link_to "Back to Ingredients", ingredients_path %>
